<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Entry</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Select2 CSS -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.0/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet"  href="/sidebar/sidebar.css">
  <link rel="stylesheet" href="/styles.css">
  <style>
    #stationName, #stationName2 {
  font-size: 16px !important; /* Adjust the font size as per your preference */
    }
    #gear ,#gear2,#zone {
        font-size: 16px !important;
    }
    #gearID, #gearID2{
        font-size: 16px !important;
    }
    #deficiencies, #deficiencies2{
        font-size: 16px !important;
    }
    #dateOfInspection{
        font-size: 20px !important;
    }
    #Type_Point, #Type_Track{
        font-size: 12px !important;
    }
    .new {
    margin: 40px; 
    }
    #deficiencyButton {
      border-radius: 10px;
      margin-bottom: 10px;
    }

    #gearButton {
      border-radius: 10px;
      margin-bottom: 10px;
      margin-left: 5px;
      
    }
    #provideNumber {
            width: 100px; 
    }
    .force-new-line {
    clear: both;
    }

    .input-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.input-container input {
    flex: 1 0 45%; 
    min-width: 500px; 
    height: auto;
    margin: 5px;
    resize: vertical;
}

    .input-group {
    flex: 1 1 calc(100% - 20px);
    display: flex;
    align-items: center;
    gap: 10px;
    }

    .input-group.mb-3 {
        margin-bottom: 15px;
    }

  </style>  
 
    <%- include("includes/sidebarCssLinks.ejs") %>

</head>
<body>
    
    <%- include("includes/sidebar.ejs") %>
 <div class="page-content p-3" id="content">
    <div class="container" style="margin-left:-5px;">
    <div style="display: flex;">
        <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>
        
        <h1 id="totalPoint" style="visibility: hidden; margin-left: 10px;"> </h1>
        <h1 id ="Days" style = "visibility: hidden; margin-left: 10px;"> Last Inspection date: <span id = "lastDateEntry"></span>  ,Days Since Last Inspection: <span id = "lastDayEntry"></span> </h1>
        
    </div>
        <div class="container">
            <form id="inspectionForm1" action="/saveForm" method="post">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="stationName" class="form-label">Station Name</label>
                        <select class="form-select" id="stationName" name="stationName" required>
                            <option value="" disabled selected>Select Station Name</option>
                            <!-- Options will be populated dynamically -->
                            <% stationNames.forEach(station => { %>
                            <option value="<%= station %>"><%= station %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="gear" class="form-label">Gear</label>
                        <select class="form-select" id="gear" name="gear" required>
                            <option value="" disabled selected>Select Gear</option>
                            <!-- Options will be populated based on the selected station name -->
                        </select>
                    </div>

                    
                    <div class="form-group col-md-2">
                            <label for="zone" class="form-label">Zone</label>
                            <select class="form-select" id="zone" name="zone"required>
                                <!-- Options will be populated based on the selected station name and gear -->
                            </select>
                    </div>

                    <div class="form-group col-md-2" id="pointTypeSelect" style="display: none;">
                        <label for="Type_Point" class="form-label">Type</label>
                        <select id="Type_Point" name="gear_Point" class="form-control" style="height:  33px; width: 155px;" >
                            <option value="" disabled selected>Select Point Type</option>
                            <% pointTypes.forEach(point => { %>
                            <option value="<%= point %>"><%= point %></option>
                            <% }) %>
                        </select>
                    </div>

                    <div class="form-group col-md-2" id="trackTypeSelect" style="display: none;">
                        <label for="Type_Track" class="form-label" >Type</label>
                        <select id="Type_Track" name="gear_Track" class="form-control" style="height: 33px; width: 155px;" >
                            <option value="" disabled selected>Select Track Type</option>
                            <% trackCircuitTypes.forEach(track => { %>
                            <option value="<%= track %>"><%= track %></option>
                            <% }) %>
                        </select>
                    </div>
                   
                    <div class="form-group col-md-2">
                        <label for="dateOfInspection" class="form-label">Date of Inspection</label>
                        <input type="date" class="form-control" id="dateOfInspection" name="dateOfInspection"  max="<%= new Date().toISOString().split('T')[0] %>" required>
                    </div>

                    <div class="w-100"></div>
                    <div id="dynamicFieldsContainer">
                        <% for (let i = 3; i <= 3; i++) { %>
                        <div class="w-100"></div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="gearID<%= i %>" class="form-label">GearID</label>
                                <input type="text" class="form-control" id="gearID<%= i %>" name="gearID<%= i %>" value=" " readonly>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="deficiencies<%= i %>" class="form-label">Deficiencies</label>
                                <select id="deficiencies<%= i %>" class="form-select" name="deficiencies<%= i %>[]" multiple="multiple">
                                    <!-- Options will be populated based on the selected gear -->
                                </select>
                            </div>
                    
                            <!-- Flex container for input boxes -->
                            <div class="form-group col-md-6 d-flex align-items-start flex-wrap" id="inputContainer<%= i %>"></div>
                        </div>
                        <% } %>
                    </div>
                <div class="form-row">
                    <div class="form-group col-md-12 text-center">
                        <!-- Center the button horizontally -->
                        <button type="submit" id="submitButton" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>

</div>
</div>
</div>
   
    <%- include("includes/sidebarJsLinks.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Select2 JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.0/dist/js/select2.min.js"></script>
    <script src="/scripts.js"></script>
    <script src="/gearscripts.js"></script>
    <script src="/sidebar/sidebar.js"></script>
    
</body>
</html>